table{
    border: 8px dotted mediumseagreen;
}
#tdsp {
background-color: mediumseagreen;
box-shadow: 5px;
}
td{
 background-color: yellow;
 box-shadow: 2px 4px 2px black;
 height: 30px;
 width: 45px;
 border-radius: 5px ;
 text-align: center;
 border: 10px black;
}
body {
    background-color: rgba(255, 255, 255, 0.971);
}
 #co{
    background-color: mediumseagreen;
    border: 5px mediumseagreen;
    box-shadow: 5px black;
    height: 30px;
    width: 90px;
}

  #table1{
    float:left;
    margin-left: 34%;
    margin-top: 10%;
    border-spacing: 10px;
    text-decoration-style: wavy;
    width: 15%;
    height: 25%;
   
    
}

 #table2{
    margin-right: 34%;
    margin-top: 10%;
    float:right;
    border-spacing: 10px;
    width: 15%;
    height: 25%;
}
